/* 
		数据生态样式
		wangze
		index 4
		index 100
	*/
@charset "utf-8";

body {
	background-image: linear-gradient(to bottom left, #2e3b4e, #0d0d13 52%, #0d0d13);
}

.relation {
	width: 100%;
	height: 100%;
	background-image: url(img/bottom-bg.png);
	background-repeat: no-repeat;
	background-size: auto 289px;
	background-position: center bottom;
	overflow: hidden;
}

.r_title {
	width: 100%;
	height: 240px;
	text-align: center;
	font-size: 100px;
	color: #00AAFF;
	font-family: "华文彩云";
	text-shadow: 0 0 2px #002222;
	cursor: auto;
	user-select: none;
	/* top: -50px; */
	transition: all 0.5s linear 0s;
	z-index: 2;
	background-image: url(./img/top-bg.png);
	background-size: 100% 240px;
}

.r_tabs {
	width: 348px;
	z-index: 100;
	top: 8px;
	left: 12px;
	background: #4a4f56;
	z-index: 100;
}

.r_relation {
	width: 100%;
	height: 90%;
	bottom: 0;
	z-index: 3;
}

.r_menu {
	right: 0;
	bottom: 0;
	transition: all 0.5s linear 0s;
	z-index: 100;
}

.r_menu_hide {
	transform: translate(500px, 500px);
}

.r_menu_bg {
	width: 820px;
	height: 820px;
	right: -410px;
	bottom: -410px;
	border-radius: 50%;
	background-image: url(./img/circle-border.png);
	background-size: cover;
	animation: rotate360 100s linear 0s infinite;
}

.r_menu_active {
	width: 182px;
	height: 182px;
	right: -91px;
	bottom: -91px;
	border: 8px solid #000;
	background-color: #EEEEEEac;
	border-radius: 50%;
	z-index: 4;
}

.r_menu_active_li {
	width: 50%;
	height: 50%;
	margin-left: 50%;
	border: 1px solid #000;
	border-top-right-radius: 100%;
	transform: rotateZ(-90deg);
	transform-origin: left bottom;
	background-color: #d7dde4;
	transition: all .2s linear 0s;
	cursor: pointer;
}

.r_menu_active_li:nth-child(2) {
	transform: rotateZ(-45deg);
}

.r_menu_active_li:hover {
	background-color: #FD7E14;
}

.r_menu_active_li:hover p i {
	color: #FFFFFF;
}

.r_menu_active_li p {
	width: 100%;
	height: 100%;
	padding-top: 6px;
	border-top-right-radius: 100%;
	transform: rotateZ(15deg);
	transform-origin: left bottom;
}

.r_menu_doc {
	width: 610px;
	height: 610px;
	right: -305px;
	bottom: -305px;
	z-index: 3;
	border: 6px solid #000;
	background-color: #d7dde4;
	border-radius: 50%;
	background-image: url(./img/circle-1.png);
	background-size: cover;
}

.r_menu_docp {
	width: 200px;
	height: 115px;
	margin: 93px;
	overflow-x: hidden;
	overflow-y: auto;
}

.r_menu_docp dt {
	font-size: 20px;
	text-align: center;
}

.r_menu_docp dd {
	font-size: 14px;
}

.r_menu_level3 {
	width: 680px;
	height: 680px;
	right: -340px;
	bottom: -340px;
	z-index: 2;
	border: 5px solid transparent;
	border-radius: 50%;
	margin-bottom: 0;
	transition: all .5s linear .1s;
	transform: rotateZ(90deg);
	transform-origin: center center;
}

.r_menu_level4 {
	width: 750px;
	height: 750px;
	right: -375px;
	bottom: -375px;
	z-index: 1;
	border: 5px solid transparent;
	border-radius: 100%;
	margin-bottom: 0;
	transition: all .5s linear .2s;
	transform: rotateZ(90deg);
	transform-origin: center center;
}

.r_menu_level_rotate {
	transform: rotateZ(0deg);
}

.r_menu_level_li {
	width: 50%;
	height: 50%;
	margin-left: calc(50% - 2px);
	border-left: 1px solid #6c7b86;
	border-top-right-radius: 100%;
	background-color: #def5f8;
	transform-origin: left bottom;
	transition: all .1s linear 0s;
	cursor: pointer;
}

.r_menu_level_li_active {
	background-color: #ff7963;
}

.r_menu_level_li_active i {
	color: #FFFFFF;
}

.r_menu_level_li:hover {
	box-shadow: 0 0 6px 2px #000000;
}

.r_menu_level_li div i span {
	position: absolute;
	transform: translate(-50%) rotateZ(2deg);
	top: -40px;
	background-color: #000;
	padding: 8px;
	border-radius: 4px;
	color: #ffffff;
	font-size: 12px;
}

.r_menu_level_li>div {
	width: 100%;
	height: 100%;
	color: #798a93;
	margin-top: 5px;
	transform-origin: left bottom;
	border-top-right-radius: 100%;
}

.r_left_con {
	top: 50%;
	left: 20px;
	width: 400px;
	height: 620px;
	margin-top: -310px;
	background-image: url(./img/border-left.png);
	background-size: cover;
	background-position: 0;
	-webkit-animation: leftflyin 1s;
	animation: leftflyin 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	pointer-events: none;
}

.r_right_con {
	top: 50%;
	right: 20px;
	width: 400px;
	height: 620px;
	margin-top: -310px;
	background-image: url(./img/border-right.png);
	background-size: cover;
	background-position: 100%;
	-webkit-animation: rightflyin 1s;
	animation: rightflyin 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	pointer-events: none;
}

.r_tip {
	width: 380px;
	border-radius: 1px;
	background: #444850;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.r_tip_title {
	width: 100%;
	height: 24px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
	background: none;
	font-size: 12px;
	color: #bec0d0;
	line-height: 24px;
}

.r_tip_title>span {
	cursor: pointer;
	margin-left: 10px;
}

.r_tip_title>span>i {
	margin-right: 4px;
}

.r_tip_up {
	height: 56px;
	text-align: center;
	position: relative;
}

.r_tip_up>span {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	line-height: 56px;
	max-width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
	color: #e8e9f0;
}

.r_tip_up>span:nth-child(2)>i {
	position: relative;
	text-align: center;
	line-height: 3;
	font-size: 12px;
	letter-spacing: .4px;
	color: #ff7963;
	min-width: 30px;
	height: 30px;
	margin: -30px 5px 0;
	overflow: visible;
}

.r_tip_down {
	color: #bec0d0;
	background-color: #32363d;
	padding: 12px 0 14px 10px;
	position: relative;
	max-height: 110px;
	font-size: 14px;
	margin-top: 8px;
	overflow: auto;
	word-break: break-word;
	padding-right: 10px;
}

/* 关系列表 */
.r_lists {
	font-size: 16px;
	height: 42px;
	width: 348px;
	text-align: center;
	background-image: url(./img/relation-list.png);
	background-size: 370px 80px;
	background-repeat: no-repeat;
	background-position: 50%;
	background-position-y: -25px;
	color: #fff;
	line-height: 42px;
	left: 10px;
	bottom: 18px;
	cursor: pointer;
	z-index: 100;
}

.r_lists_box {
	display: none;
	height: auto;
	max-height: 590px;
	line-height: 1.5;
	background-color: transparent;
	background-image: url(./img/left-list-top.png), url(./img/left-list-middle.png), url(./img/left-list-bottom.png);
	background-size: 100% 60px, 100% calc(100% - 120px), 100% 60px;
	background-position: 0 0, left 60px, 0 100%;
	background-repeat: no-repeat;
	color: rgba(190, 192, 208, .8);
	font-size: 14px;
	cursor: default;
	left: -14px;
	bottom: 44px;
	min-height: 100px;
	width: 390px;
	text-align: left;
	overflow: hidden;
	transition: all .2s linear 0s;
}

.r_lists_box ul {
	margin: 16px 24px;
	padding: 0;
	max-height: 560px;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
}

.r_lists_box ul li {
	position: relative;
	margin-bottom: 0px;
	width: 100%;
	padding: 12px 24px;
	font-size: 14px;
	cursor: pointer;
}

.r_lists_box ul li.active {
	background-color: hsla(0, 0%, 100%, .06);
	color: #bec0d0;
}

.r_lists_box .relation-name {
	width: 60px;
	position: absolute;
	text-align: right;
	margin-left: -25px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.r_lists_box ul li.active .relation-name,
.r_lists_box ul li.active .relation-a,
.r_lists_box ul li.active .relation-b {
	color: #ff7963;
}

.r_lists_box .circle {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	left: 63px;
	top: 12px;
	background: #000;
}

.r_lists_box ul li.active .circle {
	border: 2px solid #ff7963;
	box-shadow: 0 0 6px 2px #ff7963;
}

.r_lists_box .detail {
	padding-left: 12px;
	background-image: linear-gradient(180deg, #ccc 0, #ccc 20%, transparent 0);
	background-size: 4px 8px;
	background-repeat: repeat-y;
	margin-left: 43px;
}

.relation-a,
.relation-b {
	display: inline-block;
}

.r_lists_box .detail .relation-arrow {
	width: 27px;
	height: 9px;
	background: url(./img/arrow-right.svg) no-repeat 50%;
	background-size: contain;
	margin-top: 5px;
	display: inline-block;
}

.r_lists_box .detail .relation-time {
	font-size: 12px;
	line-height: 20px;
	color: rgba(190, 192, 208, .6);
}

.r_lists_box .detail .desc-full,
.r_lists_box .detail .desc {
	padding-top: 4px;
	line-height: 2;
	margin-top: -3px;
	text-align: justify;
}

/* 自动播放 */
.r_lists_play {
	height: 42px;
	width: 42px;
	left: 368px;
	bottom: 18px;
	color: #fff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
	cursor: pointer;
	z-index: 100;
	border: 2px solid #b0bbc0;
	border-radius: 50%;
	background: #32363d;
}

.r_lists_play_btn {
	width: 16px;
	height: 20px;
	background-size: cover;
	position: absolute;
	background-repeat: no-repeat;
	background-image: url(./img/pause.svg);
	left: 14px;
	top: 9px;
}

/* 关系探索 */
.r_explore {
	width: 136px;
	height: 42px;
	background-image: url(./img/switch-bg.png);
	background-size: cover;
	text-align: center;
	z-index: 100;
	left: 420px;
	bottom: 18px;
}

.switch-text {
	display: inline-block;
	margin-top: 10px;
	color: #fff;
	vertical-align: top;
}

.switch-btn-container {
	display: inline-block;
	width: 28px;
	height: 6px;
	background: #40434a;
	border-radius: 10px;
	position: relative;
	border: none;
	margin-top: 17px;
	margin-left: 12px;
	cursor: pointer;
	background: #78ffd3;
	box-shadow: 0 0 4px 0 rgba(93, 255, 228, .83);
	border: none;
}

.switch-btn {
	width: 16px;
	height: 16px;
	background: #d3dde4;
	position: absolute;
	margin: 0;
	top: -5px;
	left: 19px;
	border-radius: 100%;
	transition: left .3s;
	float: right;
}

/**
 * 动画
 */

@keyframes rotate360 {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}
